[submodule "deps/polyscope"]
	path = deps/polyscope
	url = git@github.com:MarkGillespie/polyscope.git
	branch = master
[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = git@github.com:MarkGillespie/geometry-central.git
	branch = master
[submodule "deps/googletest"]
	path = deps/googletest
	url = git@github.com:google/googletest
